In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Goedereede,NL,2020-09-01 21:30:03,51.82,3.98,61.00,81,0,6.87
1,1,Puerto Ayora,EC,2020-09-01 21:26:22,-0.74,-90.35,77.00,53,40,19.46
2,2,Bluff,NZ,2020-09-01 21:30:04,-46.60,168.33,43.66,68,51,9.35
3,3,Sambava,MG,2020-09-01 21:30:05,-14.27,50.17,68.23,87,79,10.33
4,4,Winslow,US,2020-09-01 21:30:05,35.02,-110.70,91.40,16,40,23.04

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer =gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer) 
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer =gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer) 
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer =gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer) 
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2020-09-01 21:26:22,-0.74,-90.35,77.00,53,40,19.46
14,14,Atuona,PF,2020-09-01 21:30:11,-9.80,-139.03,79.14,73,18,20.36
24,24,Grants,US,2020-09-01 21:25:41,35.15,-107.85,82.40,13,40,23.04
25,25,Bethel,US,2020-09-01 21:30:15,41.37,-73.41,75.99,64,75,8.05
29,29,San Carlos,VE,2020-09-01 21:30:17,9.66,-68.58,82.31,80,19,2.89
31,31,Sao Felix Do Xingu,BR,2020-09-01 21:30:18,-6.64,-51.99,84.16,28,34,1.68
34,34,Goderich,CA,2020-09-01 21:30:02,43.75,-81.72,80.01,90,76,9.26
36,36,Avarua,CK,2020-09-01 21:30:19,-21.21,-159.78,78.80,78,86,16.11
39,39,Namatanai,PG,2020-09-01 21:30:21,-3.67,152.43,81.59,75,53,5.30
40,40,Aguimes,ES,2020-09-01 21:30:21,27.91,-15.45,75.20,78,20,18.34

In [10]:
#check for null values
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
1         Puerto Ayora      EC     77.00  -0.74  -90.35
14              Atuona      PF     79.14  -9.80 -139.03
24              Grants      US     82.40  35.15 -107.85
25              Bethel      US     75.99  41.37  -73.41
29          San Carlos      VE     82.31   9.66  -68.58
31  Sao Felix Do Xingu      BR     84.16  -6.64  -51.99
34            Goderich      CA     80.01  43.75  -81.72
36              Avarua      CK     78.80 -21.21 -159.78
39           Namatanai      PG     81.59  -3.67  152.43
40             Aguimes      ES     75.20  27.91  -15.45

In [12]:
from config import weather_api_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

                  City Country  Max Temp    Lat     Lng Hotel Name
1         Puerto Ayora      EC     77.00  -0.74  -90.35
14              Atuona      PF     79.14  -9.80 -139.03
24              Grants      US     82.40  35.15 -107.85
25              Bethel      US     75.99  41.37  -73.41
29          San Carlos      VE     82.31   9.66  -68.58
31  Sao Felix Do Xingu      BR     84.16  -6.64  -51.99
34            Goderich      CA     80.01  43.75  -81.72
36              Avarua      CK     78.80 -21.21 -159.78
39           Namatanai      PG     81.59  -3.67  152.43
40             Aguimes      ES     75.20  27.91  -15.45

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))